openapi: "3.1.0"

info:
  title: Petlibro API Documentation
  version: "0.1.0"
  description: |
    REST API for the Petlibro cloud service, as used by the
    [Petlibro Home Assistant integration](https://github.com/jjjonesjr33/petlibro).
    The API allows you to interact with PetLibro devices, retrieve device status,
    and manage device settings programmatically.

    ## Authentication

    All API requests require a Token header with a valid token.
    You can obtain this token by using the /member/auth/login endpoint
    to authenticate with an email and password.
servers:
  - url: https://api.us.petlibro.com

tags:
  - name: Auth
  - name: Devices
  - name: Feeding Plans

security:
  - TokenAuth: []
    Source: []
    Language: []
    Version: []
    Timezone: []

components:
  securitySchemes:
    TokenAuth:
      type: apiKey
      in: header
      name: token
      description: |
        Session token obtained from `POST /member/auth/login`.
        When this token expires the server will return code `1009`.
    # The following headers are documented as "security schemes" for
    # convenience. This way they are set once and don't need to be duplicated on
    # each path for the convenience of Swagger UI users and generated API
    # clients.
    Source:
      type: apiKey
      in: header
      name: source
      description: Source of the client activity. Use "ANDROID"
    Language:
      type: apiKey
      in: header
      name: language
      description: Preferred client language. Use "EN"
    Version:
      type: apiKey
      in: header
      name: version
      description: Client app version. Use "1.3.45"
    Timezone:
      type: apiKey
      in: header
      name: timezone
      description: Optional. May be used for parsing times in request params. IANA time zone e.g. "America/Chicago"

  requestBodies:
    DeviceSerial:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [id, deviceSn]
            properties:
              id:
                $ref: "#/components/schemas/DeviceSn"
              deviceSn:
                $ref: "#/components/schemas/DeviceSn"

  schemas:
    Response:
      type: object
      description: Standard wrapper for every successful API response. HTTP status is always 200. Identify errors by `code != 0`.
      required: [code, msg, data]
      properties:
        code:
          type: integer
          description: |
            Always `0` on success. Unsuccessful response will have a non-zero code:
            | code | msg |
            |-|-|
            | 1001 | SYSTEM_ERROR |
            | 1009 | NOT_YET_LOGIN |
            | 1025 | FORCED_LOGOUT |
          example: 0
        msg:
          type: string
          nullable: true
          description: |
            Status message is null on success.
            Non-null string values appear only on errors.
          example: null
        data:
          description: Endpoint-specific payload. Typically null for errors.

    DeviceSn:
      type: string
      description: Device serial number.
      example: "AF060130AC701DEW1"

    ProductIdentifier:
      type: string
      description: Product identifier code.
      example: "PLAF301"

    Device:
      type: object
      description: |
        A Petlibro device (feeder, fountain, or litter box).
      # field sets vary across device models
      additionalProperties: true
      required:
        - deviceSn
        - productIdentifier
        - productName
      properties:
        deviceSn:
          $ref: "#/components/schemas/DeviceSn"
        productIdentifier:
          $ref: "#/components/schemas/ProductIdentifier"
        productName:
          type: string
          description: |
            Human-readable product name.
          enum:
            - "Air Smart Feeder"
            - "Granary Smart Feeder"
            - "Granary Smart Camera Feeder"
            - "One RFID Smart Feeder"
            - "Polar Wet Food Feeder"
            - "Dockstream Smart Fountain"
            - "Dockstream Smart RFID Fountain"
            - "Dockstream 2 Smart Cordless Fountain"
            - "Dockstream 2 Smart Fountain"
            - "Space Smart Feeder"
            - "Luma Smart Litter Box"
          example: "One RFID Smart Feeder"
        name:
          type: string
          description: Device nickname.
          example: "One RFID Smart Feeder"
        icon:
          type: string
          format: uri
          description: Product icon image URL.
          example: "https://oss.us.petlibro.com/dlcloud/platform/product_icon/product_icon_66b4a757048e592c7e3a75d4.png"
        imageId:
          type: string
          example: "34a429d93ccc4dc88066aa0c9589410d"
        imageName:
          type: string
          example: "DARK COFFEE"
        mac:
          type: string
          description: Device Wi-Fi MAC address.
          example: "96:E6:E0:BF:55:09"
        timezone:
          type: string
          description: IANA timezone configured on the device.
          example: "America/Chicago"
        online:
          type: boolean
          example: true
        wifiRssi:
          type: integer
          description: Wi-Fi signal strength in dBm.
          example: -50
        wifiRssiLevel:
          type: integer
          example: 4
        powerType:
          type: integer
          example: 1
        powerMode:
          type: integer
          example: 1
        electricQuantity:
          type: integer
          example: 0
        batteryState:
          type: string
          example: "low"
        enableBatteryPercent:
          type: boolean
          example: false
        softwareVersion:
          type: string
          example: "2.0.47"
        hardwareVersion:
          type: string
          example: "4.0.0"
        minAppVersion:
          type: string
          example: ""
        enableAutoUpgrade:
          type: boolean
          example: true
        firstCategoryId:
          type: integer
          example: 1
        firstCategoryName:
          type: string
        secondCategoryId:
          type: integer
        secondCategoryName:
          type: string
        secondCategoryNameI18n:
          type: string
          example: "Feeder"
        deviceShareState:
          type: integer
          description: |
            Sharing relationship between this device and another account.

            | Value | Meaning                                                   |
            |-------|-----------------------------------------------------------|
            | `1`   | Shared t* this account - another member owns the device |
            | `2`   | Owned by this account and currently shared with others    |
            | `3`   | Owned by this account, not shared                         |
          enum: [1, 2, 3]
          example: 3
        shareId:
          type: string
          description: |
            Share-relationship identifier. Absent when `deviceShareState`
            is `3`.
        errorState:
          type: boolean
          example: false
        doorErrorState:
          type: string
          example: "NORMAL"
        exceptionMessage:
          type: string
          nullable: true
        deviceStoppedWorking:
          type: boolean
          example: false
        enableSound:
          type: boolean
          example: true
        enableLight:
          type: boolean
          example: true
        coverOpenMode:
          type: string
          example: "KEEP_CLOSE"
        barnDoorState:
          type: boolean
          example: false
        barnDoorError:
          type: boolean
          example: false
        snowflake:
          type: boolean
          example: true
        vacuumState:
          type: boolean
          example: true
        pumpAirState:
          type: boolean
          example: true
        vacuumMode:
          type: string
          example: "NORMAL"
        surplusGrain:
          type: boolean
          example: false
        grainOutletState:
          type: boolean
          example: true
        leftWarehouseSurplusGrain:
          type: boolean
          example: true
        rightWarehouseSurplusGrain:
          type: boolean
          example: true
        warehouseSurplusGrain:
          type: string
          example: "GOOD"
        garbageWarehouseState:
          type: string
          example: "NORMAL"
        garbageWarehouseLeaveState:
          type: string
          example: "NORMAL"
        throwMode:
          type: string
          example: "NORMAL"
        supportFeederTrayChoice:
          type: boolean
          example: true
        enableFeedingPlan:
          type: boolean
          example: true
        unitType:
          type: integer
          description: |
            Food quantity unit in use.

            | Value | Unit   |
            |-------|--------|
            | `1`   | cups   |
            | `2`   | oz     |
            | `3`   | g      |
            | `4`   | mL     |
          enum: [1, 2, 3, 4]
          example: 2
        todayTotalMl:
          type: integer
          example: 0
        weightPercent:
          type: integer
          example: 0
        weight:
          type: number
          example: 0.0
        weightState:
          type: string
          example: "NORMAL"
        cameraAuthInfo:
          type: string
          nullable: true

paths:
  /member/auth/login:
    post:
      operationId: login
      summary: Login and obtain a session token
      description: |
        Exchanges an email address and MD5-hashed password for an opaque session
        token. Store the returned `data.token` value and pass it as the `token`
        header on all subsequent authenticated requests.
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - appId
                - appSn
                - country
                - email
                - password
                - phoneBrand
                - phoneSystemVersion
                - timezone
              properties:
                appId:
                  type: integer
                  const: 1
                  description: Application ID. Always `1` for the official app.
                  example: 1
                appSn:
                  type: string
                  const: "c35772530d1041699c87fe62348507a8"
                  description: Application serial number. Fixed value for the official app.
                  example: "c35772530d1041699c87fe62348507a8"
                country:
                  type: string
                  description: |
                    ISO 3166-1 alpha-2 region/country code.
                  example: "US"
                email:
                  type: string
                  format: email
                  description: Account email address.
                  example: "you@example.com"
                password:
                  type: string
                  description: |
                    MD5 hex digest of the plaintext
                    password. The result should be 32 lowercase hex letters.
                    You might form this with:

                    ```bash
                    echo -n "yourpassword" | md5sum | cut -d' ' -f1
                    ```
                  pattern: "^[0-9a-f]{32}$"
                  example: "5f4dcc3b5aa765d61d8327deb882cf99"
                phoneBrand:
                  type: string
                  description: Device brand string. Send an empty string for non-app clients.
                  example: ""
                phoneSystemVersion:
                  type: string
                  description: Device OS version string. Send an empty string for non-app clients.
                  example: ""
                timezone:
                  type: string
                  description: IANA timezone name for this session.
                  example: "America/Chicago"

            examples:
              EmailLogin:
                summary: Email + password login
                description: Replace `password` with the MD5 hash of your actual password.
                value:
                  email: "you@example.com"
                  password: "5f4dcc3b5aa765d61d8327deb882cf99"
                  appId: 1
                  appSn: "c35772530d1041699c87fe62348507a8"
                  country: "US"
                  phoneBrand: ""
                  phoneSystemVersion: ""
                  timezone: "America/Chicago"
                  thirdId: null
                  type: null
      responses:
        "200":
          description: |
            The HTTP status is always 200.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [token]
                        properties:
                          token:
                            type: string
                            description: |
                              Opaque session token. Pass this value as the `token` header on all
                              subsequent authenticated requests.
                            example: "fe8d304a0effd0a242914660cbce6512"
                          clientId:
                            type: string
                            example: "APP_190294628"
                          pushId:
                            type: string
                            nullable: true
                            example: null
                          memberId:
                            type: integer
                            example: 190294628
                          account:
                            type: string
                            description: Account identifier. In practice the same as email.
                            example: "example@example.com"
                          accountType:
                            type: integer
                            example: 1
                          email:
                            type: string
                            format: email
                            example: "example@example.com"
                          avatar:
                            type: string
                            nullable: true
                            example: null
                          nickname:
                            type: string
                            example: ""
                          country:
                            type: string
                            example: "US"
                          gender:
                            type: integer
                            enum: [0, 1, 2]
                            example: 0
                          status:
                            type: integer
                            example: 0
                          enableBiometric:
                            type: boolean
                            example: false
                          area:
                            type: string
                            example: "US"
                          petCareKind:
                            type: string
                            example: "FREE"
                        additionalProperties: true

  /device/device/list:
    post:
      operationId: listDevices
      summary: List all devices on the account
      description: |
        Returns every Petlibro device linked to the authenticated account, including devices shared to this account by another member.
        Use `deviceSn` as the identifier in all subsequent device-specific calls.
      tags: [Devices]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              nullable: true
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/Device"

  /device/device/baseInfo:
    post:
      operationId: getBaseInfo
      summary: Get base configuration for a device
      description: |
        Retrieve basic information for a specific device.
      tags: [Devices]
      requestBody:
        $ref: "#/components/requestBodies/DeviceSerial"
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /device/device/realInfo:
    post:
      operationId: getRealInfo
      summary: Retrieve real-time information from a device.
      description: |
        Retrieve real-time information from a specific device, such as feeding activity, current settings, and status.
      tags: [Devices]
      requestBody:
        $ref: "#/components/requestBodies/DeviceSerial"
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Device"

  /device/device/displayMatrix:
    post:
      operationId: setMatrix
      summary: Set the LED matrix display content
      description: |
        Sets what is shown on the device's LED matrix display. The endpoint
        accepts mutually exclusive modes controlled by which field is
        non-null:

        | Mode       | Non-null field    |
        |------------|-------------------|
        | Icon       | `screenDisplayId` |
        | Text       | `screenLetter`    |
        | Bitmap     | `screenDisplayMatrix`|
      tags: [Devices]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deviceSn]
              properties:
                deviceSn:
                  type: string
                  description: Device serial number.
                screenDisplayId:
                  type: integer
                  nullable: true
                  description: |
                    ID of a built-in icon preset to display. Set to `null`
                    when using other mode.
                    | screenDisplayId | Icon |
                    |-|-|
                    | 5 | Heart |
                    | 6 | Dog |
                    | 7 | Cat |
                    | 8 | Elk |
                  example: 5
                screenDisplayMatrix:
                  type: array
                  items:
                    type: array
                    items:
                      type: integer
                  description: |
                    Two-dimensional array of frames of pixel data for a fully custom display pattern.
                    Set to `null` when using other mode.
                    Each array element is a bitmap of the pixels in each row, starting from the top right.
                    So `[[1,0,0,0,0,0,0]]` draws the top right pixel and `[[0,0,0,0,0,0,134217728]]` (2^27) draws the bottom left one.
                    The outer array can be used to send multiple frames to animate.
                  example: null
                screenLetter:
                  type: string
                  nullable: true
                  description: |
                    Letter to show on the display.
                    Set to `null` when using other mode.
            examples:
              IconMode:
                summary: Set a built-in icon
                value:
                  deviceSn: "AF060130AC701DEW1"
                  screenDisplayId: 5
                  screenDisplayMatrix: null
                  screenLetter: null
              TextMode:
                summary: Set text
                value:
                  deviceSn: "AF060130AC701DEW1"
                  screenDisplayId: null
                  screenDisplayMatrix: null
                  screenLetter: "M"
              MatrixMode:
                summary: Draw check mark
                value:
                  deviceSn: "AF060130AC701DEW1"
                  screenDisplayId: null
                  screenDisplayMatrix: [[1, 2, 4, 8, 272, 160, 64]]
                  screenLetter: null
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /device/device/getDefaultMatrix:
    get:
      operationId: getDefaultMatrix
      summary: Get the available LED matrix display content.
      tags: [Devices]
      parameters:
        - name: deviceSn
          in: query
          required: true
          schema:
            type: string
          description: Device serial number.
          example: AF060130AC701DEW1
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          defaultMatrix:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: Hello
                                screenDisplayId:
                                  type: integer
                                  example: 4
                                screenDisplayMatrix:
                                  type: array
                                  items:
                                    type: integer
                                  example:
                                    [
                                      0,
                                      2860128,
                                      2761872,
                                      3908752,
                                      2761872,
                                      2864736,
                                      0,
                                    ]
                          emojiMatrix:
                            type: array
                            items:
                              type: object
                              properties:
                                name:
                                  type: string
                                  example: Love
                                screenDisplayId:
                                  type: integer
                                  example: 5
                                screenDisplayMatrix:
                                  type: array
                                  items:
                                    type: integer
                                  example:
                                    [
                                      55296,
                                      130048,
                                      130048,
                                      130048,
                                      63488,
                                      28672,
                                      8192,
                                    ]

  /device/device/manualFeeding:
    post:
      operationId: manualFeed
      summary: Trigger an immediate manual feed
      description: |
        Commands a feeder to immediately dispense a specified number of food
        portions.
      tags: [Devices]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deviceSn, grainNum, requestId]
              properties:
                deviceSn:
                  type: string
                  description: Device serial number.
                  example: "AF060130AC701DEW1"
                grainNum:
                  type: integer
                  description: |
                    Number of portions to dispense. Must be a positive integer.
                  minimum: 1
                  example: 1
                requestId:
                  type: string
                  description: |
                    Unique request identifier — a UUID4 with hyphens removed.
                  pattern: "^[0-9a-f]{32}$"
                  example: "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /device/data/grainStatus:
    post:
      operationId: getGrainStatus
      summary: Retrieve the current day's feeding summary.
      tags: [Devices]
      requestBody:
        $ref: "#/components/requestBodies/DeviceSerial"
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          todayFeedingQuantities:
                            type: array
                            items:
                              type: integer
                            example: [1, 3]
                          todayFeedingQuantity:
                            type: number
                            description: Total food dispensed today.
                            example: 4
                          todayFeedingTimes:
                            type: integer
                            description: Total number of dispensing events today.
                            example: 2

  /device/feedingPlan/list:
    post:
      operationId: listFeedingPlans
      summary: List all feeding plans for a device.
      description: Fetch a list of all feeding plans configured on the device, including their schedules and portions.
      tags: [Feeding Plans]
      requestBody:
        $ref: "#/components/requestBodies/DeviceSerial"
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        type: array
                        description: Array of feeding plan objects for the device.
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              description: Unique identifier for the feeding plan.
                              example: 4181304
                            memberId:
                              type: integer
                              example: 190294628
                            productIdentifier:
                              $ref: "#/components/schemas/ProductIdentifier"
                            deviceSn:
                              $ref: "#/components/schemas/DeviceSn"
                            executionTime:
                              type: string
                              description: Time of day to execute this feeding plan (HH:MM 24-hour format).
                              example: "08:30"
                            repeatDay:
                              type: string
                              description: "*Stringified* JSON array defining which days of the week this plan repeats (1=Monday through 7=Sunday)."
                              example: "[1,2,3,4,5]"
                            label:
                              type: string
                              description: User-defined label or name for this feeding plan.
                              example: "Morning feeding"
                            enable:
                              type: boolean
                              description: Whether this feeding plan is currently enabled.
                              example: true
                            enableAudio:
                              type: boolean
                              description: Whether audio notification is enabled for this feeding event.
                              example: false
                            audioTimes:
                              type: integer
                              description: Number of times the audio notification will repeat.
                              example: 2
                            grainNum:
                              type: integer
                              description: Number of portions to dispense during this feeding event.
                              example: 1
                            timezone:
                              type: string
                              description: IANA time zone used for the executionTime.
                              example: America/Chicago
                            syncState:
                              type: integer
                              example: 3
                            createTime:
                              type: integer
                              description: Timestamp (Unix milliseconds) when this plan was created.
                              example: 1778744424000
                            updateTime:
                              type: integer
                              description: Timestamp (Unix milliseconds) when this plan was last updated
                              example: 1778744424000
                            petInfo:
                              type: array

  /device/feedingPlan/add:
    post:
      operationId: createFeedingPlan
      summary: Create a new feeding plan.
      description: Create a new automated feeding plan for a device.
      tags: [Feeding Plans]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceSn
                - executionTime
                - grainNum
              properties:
                deviceSn:
                  $ref: "#/components/schemas/DeviceSn"
                executionTime:
                  type: string
                  description: Time of day to execute this feeding plan (HH:MM 24-hour format). Uses `timezone` header to infer timezone.
                  example: "08:30"
                repeatDay:
                  type: string
                  description: "*Stringified* JSON array defining which days of the week this plan repeats (1=Monday through 7=Sunday). Empty array for one-time execution."
                  example: "[1,2,3,4,5]"
                grainNum:
                  type: integer
                  description: Number of portions to dispense during this feeding event.
                  minimum: 1
                label:
                  type: string
                  description: User-defined label or name for this feeding plan.
                  example: "Morning Feed"
                enableAudio:
                  type: boolean
                  description: Whether audio notification is enabled for this feeding event.
                  default: false
                petIds:
                  type: array
                  description: Array of pet IDs associated with this feeding plan (typically empty).
                  items:
                    type: integer
                  example: []
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /device/feedingPlan/update:
    post:
      operationId: setFeedingPlan
      summary: Update feeding plan.
      tags: [Feeding Plans]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - deviceSn
              properties:
                id:
                  type: integer
                  description: Unique identifier for the feeding plan.
                  example: 4181304
                deviceSn:
                  $ref: "#/components/schemas/DeviceSn"
                executionTime:
                  type: string
                  description: Time of day to execute this feeding plan (HH:MM 24-hour format). Uses `timezone` header to infer timezone.
                  example: "08:30"
                repeatDay:
                  type: string
                  description: "*Stringified* JSON array defining which days of the week this plan repeats (1=Monday through 7=Sunday). Empty array for one-time execution."
                  example: "[1,2,3,4,5]"
                grainNum:
                  type: integer
                  description: Number of portions to dispense during this feeding event.
                  minimum: 1
                label:
                  type: string
                  description: User-defined label or name for this feeding plan.
                  example: "Morning Feed"
                enable:
                  type: boolean
                  description: Whether this feeding plan is currently enabled.
                  example: true
                enableAudio:
                  type: boolean
                  description: Whether audio notification is enabled for this feeding event.
                  default: false
                audioTimes:
                  type: integer
                  description: Number of times the audio notification will repeat.
                  example: 2
                petIds:
                  type: array
                  description: Array of pet IDs associated with this feeding plan (typically empty).
                  items:
                    type: integer
                  example: []
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /device/feedingPlan/enable:
    post:
      operationId: setFeedingPlanEnabled
      summary: Enable or disable feeding plan.
      tags: [Feeding Plans]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - planId
                - deviceSn
              properties:
                planId:
                  type: integer
                  description: Unique identifier for the feeding plan.
                  example: 4181304
                deviceSn:
                  $ref: "#/components/schemas/DeviceSn"
                enable:
                  type: boolean
                  description: Whether this feeding plan is currently enabled.
                  example: true
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /device/feedingPlan/remove:
    post:
      operationId: deleteFeedingPlan
      summary: Delete a feeding plan.
      tags: [Feeding Plans]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceSn
                - planId
              properties:
                deviceSn:
                  $ref: "#/components/schemas/DeviceSn"
                planId:
                  type: integer
                  description: Identifier of the plan to remove.
                  example: 5184110
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /device/workRecord/list:
    post:
      operationId: listWorkRecords
      summary: List device activity history.
      description: |
        Returns a paginated, time-bounded list of device work records grouped by day.
        Each day entry contains one or more individual event records.
      tags:
        - Devices
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - deviceSn
                - startTime
                - endTime
                - size
              properties:
                deviceSn:
                  $ref: "#/components/schemas/DeviceSn"
                startTime:
                  type: integer
                  format: int64
                  description: Start of the time range as a Unix timestamp in milliseconds (UTC).
                  example: 1770794462267
                endTime:
                  type: integer
                  format: int64
                  description: End of the time range as a Unix timestamp in milliseconds (UTC).
                  example: 1780012491430
                size:
                  type: integer
                  description: Maximum number of records to return.
                  example: 25
      responses:
        "200":
          description: The HTTP status is always 200.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Response"
                  - type: object
                    properties:
                      data:
                        type: array
                        description: |
                          List of day-bucket objects. Each entry groups the work records
                          for a single calendar day.
                        items:
                          type: object
                          properties:
                            recordTime:
                              type: string
                              description: String representation of date.
                              example: 2026/05/14
                            dayOfWeek:
                              type: integer
                              example: 4
                            workRecords:
                              type: array
                              description: Activity records for this day.
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    example: 1f42e2d95d504f699b910136eabc17cd
                                  deviceSn:
                                    $ref: "#/components/schemas/DeviceSn"
                                  type:
                                    type: string
                                    description: |
                                      Record type identifier.
                                      Known values: `GRAIN_OUTPUT_SUCCESS`.
                                    enum:
                                      - GRAIN_OUTPUT_SUCCESS
                                      - GRAIN_OUTPUT_FAILED
                                      - OFFLINE
                                      - ONLINE
                                    example: GRAIN_OUTPUT_SUCCESS
                                  eventType:
                                    type: string
                                    enum:
                                      - FEEDING_PLAN_SUCCESS
                                      - FEEDING_PLAN_GRAIN_NOT_ENOUGH
                                      - MANUAL_FEEDING_SUCCESS
                                      - MANUAL_FEEDING_GRAIN_NOT_ENOUGH
                                      - IAMFEED_FAIL_UNKNOWN_REASONS
                                      - OFFLINE
                                      - ONLINE
                                    example: FEEDING_PLAN_SUCCESS
                                  recordTime:
                                    type: integer
                                    format: int64
                                    description: Timestamp of the event as Unix milliseconds (UTC).
                                    example: 1778802904000
                                  formatRecordTime:
                                    type: string
                                    description: Formatted timestamp of the event.
                                    example: 2026-05-14 17:55
                                  expectGrainNum:
                                    type: integer
                                    example: 1
                                  actualGrainNum:
                                    type: integer
                                    example: 1
                                  content:
                                    type: string
                                    example: "Food has dispensed successfully. Food levels are low. Please refill soon."
                                additionalProperties: true
